# Ignorer TOUS les sous-dossiers et leur contenu
*/*/

# Fichiers spécifiques à exclure à la racine
throttle.ctrl
*.lwp
*.db
user-config.py
user-password.py

# Ignorer tous les fichiers cachés (comme le .env) sauf le .gitignore
.*
!.gitignore
